:root{
    --bg1 : #9b59b6;
    --bg2 : #3498db;
    --text : #26ade4;
}
*{
    margin: 0;
    padding: 0;
    outline: none;
}

.warrep{
    width: 100%;
    /* vw: độ ngang toàn màn hình */
    /* vw = % */
    height: 100vh;
    /* vh: độ cao toàn màn hình */
    background: linear-gradient(120deg , var(--bg1) , var(--bg2) );
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-signup{
    width: 400px;
    height: 500px;
    background: #fff;
    border-radius: 15px;
    /* dùng để làm tròn khung viền  */
    padding: 40px 30px;
}

.form-signup h1 {
    margin-bottom: 50px;
}

.form-text{
    margin-bottom: 40px;
    position: relative;
}

.form-text input {
    width: 100%;
    height: 40px;
    border:none;
    border-bottom: 2px solid #ccc;
    cursor: pointer;
    padding-left: 12px;
}

.form-text label {
    position: absolute;
    left: 15px;
    bottom: 13px;
    transition: 0.5s;
}

.form-text label.focus {
    transform: translateY(-45px);
}

.form-signup button {
    height: 45px;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 15px;
    background: linear-gradient(to bottom right , var(--bg1) , var(--bg2) );
    cursor: pointer;
    color: #fff;
    background-size: 200%;
    transition: 0.5s;
}

.form-signup button:hover {
    background-position: right;
}