*{
    padding: 0;
    margin: 0;
}

.help{
    width: 100%;
    height: 40px;
    background: #F5F5F5;
}

.left{
    display:flex;
    justify-content: left;
    float: left;
}

.right{
    display:flex;
    justify-content: right;
    float: right;
}

.nav_bag{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 10% 10px 10%;
}

.logo{
    color: #FFB6C1;
    font-size: 25px;
    font-family: "Times New Roman", Times, serif;
}

ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

ul li a {
    color: 	#FFC0CB;
    text-decoration: none;
    font-weight: 20px;
}

ul li a:hover {
    color: red;
    transition: .3s;
}

.form {
    border: none;
    background: #FFB6C1;
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-weight: 10px;
    font-size: 15px;
    transition: .4s;
}
.form:hover {
    transform: scale(1,2);
}

.nav_slice{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FDE2F3;
}

.slider{
    width: 800px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
}
.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input {
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 100%;
    height: 500px;
} 