*{
    padding: 0;
    margin: 0;
    
}

#help{
    width: 100%;
    height: 40px;
    background: #F5F5F5;
}

.left{
    display:flex;
    justify-content: left;
    float: left;
}

.right{
    display:flex;
    justify-content: right;
    float: right;
}

.nav_bag{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 10% 10px 10%;
}

.logo{
    color: #FFB6C1;
    font-size: 25px;
    font-family: "Times New Roman", Times, serif;
}

ul.abc li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

ul.abc a {
    color: 	#FFC0CB;
    text-decoration: none;
    font-weight: bold;
}

ul.abc a:hover {
    color: red;
    transition: .3s;
}

.form button{
    border: none;
    background: #FFB6C1;
    padding: 12px 30px;
    border-radius: 30px;
    color: #FFB6C1;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
}

.form a {
    list-style-type: none;
    display: inline-block;
    text-decoration: none;
    color: 	black;
}

.form a:hover {
    color: red;
    transition: .3s;
}

.form:hover {
    transform: scale(1.5,1.5);
    cursor: pointer;
}

/* .myslide {
    display: none;
}

img {
    vertical-align: middle;
}

.showslide {
    max-width: 80%;
    position: relative;
    margin: auto;
}

.prev , .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #FFB6C1;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover , .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.text{
    color : black;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 8px;
}

.numbertext{
    color: black;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    top: 0; 
}

.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
} */

#wrapper{
    max-width: 1170px;
    margin: 0 auto;
}

.headline{
    text-align: center;
    margin: 40px 0;
}

h2{
    font-size: 20px;
    color: #FFB6C1;
    padding: 10px 20px;
    text-transform: uppercase;
    border: 1px solid #bebebe;
    display: inline-block;
}

ul.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

ul.products li{
    flex-basis: 23%;
    padding-left: 25px;
    padding-right: 25px;
    box-sizing: border-box;
    margin-bottom: 25px;
    border: 1px solid #bebebe;
}

ul.products li img{
    max-width: 100%;
    height: auto;
}

ul.products li .product-info{
    padding: 10px 0;
}

ul.products li .product-info a{
    display: block;
    text-decoration: none;
}

ul.products li .product-info a.product-cat{
    font-size: 12px;
    text-transform: uppercase;
    color: #9e9e9e;
    font-weight: 600;
}

ul.products li .product-info a.product-name{
    color: #FFB6C1;
    padding: 3px 0px;
}

ul.products li .product-info .product-price{
    color: #111;
    padding: 2px 0px;
    font-weight: 600;
}
